<div class="row">
	<div class="col-md-12">

<!-- BEGIN ada -->
<form action="index.php?appid={appid}&sub=update" method="post">
<input type="hidden" name="id" value="{id}">

        <div class="block">
            <div class="head">
                <h2>Edit Data {appName}</h2>
            </div>

            <div class="content np">                                        
                <div class="controls-row">
                    <div class="col-md-3">Name :</div>
                    <div class="col-md-9">
                        <input type="text" name="name" class="form-control" value="{name}"/>
                    </div>
                </div>                
             </div>

            <div class="content np">                                        
                <div class="controls-row">
                    <div class="col-md-3">Status :</div>
                    <div class="col-md-9">
                        <select name="status" class="form-control">
                        	<option value="0" {NotActiveSelected}>Not Active</option>
                            <option value="1" {ActiveSelected}>Active</option>
                        </select>
                    </div>
                </div>                
             </div>

            <div class="content np">                                        
                <div class="controls-row">
                    <div class="col-md-3">Latitude Longtitude :</div>
                    <div class="col-md-9">
                        <input type="text" name="latitude_longtitude" class="form-control" value="{latitude_longtitude}"/>
                    </div>
                </div>                
             </div>

            <div class="footer">
                <div class="side fr">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit" id="submitHandling">Submit</button>
                    </div>
                </div>
            </div>                                    

                
        </div>

</form>
<!-- END ada -->
<!-- BEGIN tidakada -->
	

<!-- END tidakada -->

</div>
</div>