
<table border="1" width="60%" id="product-table">
 <tr class="row1">
  <td colspan="3">
   <font face ="verdana,arial,helvetica" size="4">No Surat Jalan : </font>
  </td>
  <td colspan="2"><font face ="verdana,arial,helvetica" size="4">{no_surat_jalan}</font></td>
 </tr>
 <tr class="row0">
  <td colspan="3">
   <font face ="verdana,arial,helvetica" size="4">No Order : </font>
  </td>
  <td colspan="2"><font face ="verdana,arial,helvetica" size="4">{no_order}</font></td>
 </tr>
 <tr class="row1">
  <td colspan="2">
   <font face ="verdana,arial,helvetica" size="2">Nama Customer : </font>
  </td>
  <td> {customer_persh} ({customer_name})</td>
  <td>
   <font face ="verdana,arial,helvetica" size="2">Alamat : </font>
  </td>
  <td> {customer_alamat} </td>
 </tr>
 <tr class="row0">
  <td colspan="2">
   <font face ="verdana,arial,helvetica" size="2">Nama Penerima : </font>
  </td>
  <td> {nama_penerima}</td>
  <td>
   <font face ="verdana,arial,helvetica" size="2">Telephone : </font>
  </td>
  <td> {phone_penerima} </td>
 </tr>
 <tr class="row1">
  <td colspan="2">
   <font face ="verdana,arial,helvetica" size="2">Alamat Penerima : </font>
  </td>
  <td> {alamat_penerima}</td>
  <td><font face ="verdana,arial,helvetica" size="2">Note : </font>
  </td>
  <td>{keterangan}</td>
 </tr>   
 </table>
 
<h2> Barang Yang Akan Diantar </h2> 
   <table border="0" width="60%" id="product-table"> 
    
     <tr>
      <th class="table-header-repeat">No</th>
      <th class="table-header-repeat line-left"><b><a href="#">Nama Barang</a></b></th>
      <th class="table-header-repeat line-left"><a href="#">Quantity</a></th>
      <th class="table-header-repeat line-left"><a href="#">Sisa</a></th>
<!--
      <th class="table-header-repeat line-left"><a href="#">Harga Satuan</a></th>
      <th class="table-header-repeat line-left"><a href="#">Total Harga</a></th>
-->      
     </tr>
     
      <!-- BEGIN order_detail_ada -->
      <tr class="{row}">
        <td valign="top">{no}</td>
        <td valign="top">{nama_barang}</td>
        <td valign="top">{barang_dikirim}</td>
        <td valign="top">{sisa}</td>
<!--
        <td valign="top">{harga_satuan}</td>
        <td valign="top" align="right">{total_harga}</td>
-->        
      </tr>
      <!-- END order_detail_ada -->
      <!-- BEGIN order_detail_tidakada -->
      <tr class="row0">
        <td colspan="5" valign="top" align="center"><b>Tidak ada entri yang ditemukan.</b> </td>
      </tr>
      <!-- END order_detail_tidakada --> 

	   <tr>
    	<td colspan="4">    
	<h3 align="center"> 
<!--    	<a href="index.php?appid=surat_jalan&sub=saveToPdf&id={no_surat_jalan}"> Print </a> | -->
    	<a href="index.php?appid=surat_jalan&sub=saveToPdf&id={no_surat_jalan}" target = "_blank"> Print </a> 
<!--    	<a href="index.php?appid=surat_jalan&sub=edit&id={no_surat_jalan}"> Edit </a> -->
    </h3>
		</td>
        </tr>      
      
    </table>
    

<!-- BEGIN tidakada -->
	
    Data Tidak Di Temukan 
    <br>
    {MESSAGE}

<!-- END tidakada -->
