<div class="row">
	<div class="col-md-6">

        <form name="form1" method="get" action="index.php">
        <input type="hidden" name="appid" value="{appid}">
        
        <div class="block">
            <div class="head">
                <h2>Pencarian</h2>
            </div>
            <div class="content np">                                        
                <div class="controls-row">
                    <div class="col-md-3">Value :</div>
                    <div class="col-md-9">
                        <input type="text" name="cari" class="form-control" value="{CARI}"/>
                    </div>
                </div>                
            </div>
			<div class="content np">                                        
                <div class="controls-row">
                    <div class="col-md-3">Category :</div>
                    <div class="col-md-9">
                        <select name="field" class="form-control">
                            <option value="so_no">Sales Order Number</option>
                            <option value="nama_persh" selected>Nama Perusahaan</option>
                        </select>
                    </div>
                </div>                
            </div>
            <div class="content np">                                        
                <div class="controls-row">
                    <div class="col-md-3">Date :</div>
                    <div class="col-md-3">
                        <input type="text" name="start" class="form-control datepicker" value=""/>
                    </div>
                    <div class="col-md-2"><span class="help-inline">sampai</span></div>
                    <div class="col-md-3">
                        <input type="text" name="end" class="form-control datepicker" value=""/>
                    </div>
                </div>                
            </div>
            <div class="footer">
                <div class="side fr">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>             
		</div>            
        </form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
        
        {HASIL PENCARIAN}
        <script language="Javascript">
        <!--
        document.form1.cari.focus();
        -->
        </script></font></font>

        <div class="block">
            <div class="head">
                <h2>{MESSAGE} ({countTrx} Data)</h2>
            </div>
            <div class="content np table-sorting">
                    
                <table class="simple_sort" cellpadding="0" cellspacing="0" width="100%">
                <thead>
                  <tr> 
                    <th>SO NO</th>
                    <th>Date</th>
                    <th>Nama Perusahaan</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- BEGIN elemen -->
                  <tr class="{row}">
                    <td valign="top"><b>{so_no_format}</b></font></td>
                    <td valign="top"><b>{date}</b></font></td>
                    <td valign="top">{customerPershName}</td>
                    <td  width="8%" valign="top" align="center">
                        <a href="index.php?appid={appid}&sub=detail&id={id}" title="Add"><i class="glyphicon glyphicon-plus"></i></a>
					</td>
                  </tr>
                  <!-- END elemen -->
                </tbody>
                  <!-- BEGIN tidakada -->

<!--                  <tr>
                    <td class="cari" colspan="6" valign="top" align="center"><b>Tidak ada entri yang ditemukan.</b> </td>
                  </tr>
-->                  
                  <!-- END tidakada -->
                </table>
                <!--
                <p class="cari" align="center">{paging}</p>
                -->
			</div>
         </div>

	</div>
</div>


