<script type='text/javascript' src='js/custom.js'></script>
    
<form name="form1" id="validate" method="post" action="index.php?appid={appid}&sub=add" onsubmit="return validateCheckBoxInvoice()">
<input type="hidden" name="act" value="save">
<input type="hidden" name="jumlah_do" value="{jumlah_do}" />
<input type="hidden" name="so_id" value="{id}" />
<input type="hidden" name="original_amount" value="{amount}" />
<input type="hidden" name="total" value="{amount}" />
<input type="hidden" name="sub_total" value="" />
<input type="hidden" name="currency" value="{currency}" />
<input type="hidden" name="fxRate" value="{fxRate}" />
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="head">
                <h2>{appName}</h2>
            </div>
		</div>
    </div>    
    <div class="col-md-6">
        <div class="block">
            <div class="head">
            </div>
            <div class="content np">
                <div class="controls-row">
                    <div class="col-md-4">Sales Order:</div>
                    <div class="col-md-8">{so_no_format}</div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Date:</div>
                    <div class="col-md-8"><input type="text" name="date" class="validate[required] datepicker form-control" value=""/></div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Due Date:</div>
                    <div class="col-md-8"><input type="text" name="due_date" class="validate[required] datepicker form-control" value=""/></div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Remark:</div>
                    <div class="col-md-8"><input type="text" class="form-control" name="remark"/></div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Area:</div>
                    <div class="col-md-8">{lokasi}</div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Marketing:</div>
                    <div class="col-md-8">{karyawanName}</div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Currency:</div>
                    <div class="col-md-8">{currency} &nbsp; <i>{rate}</i></div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Di Pungut:</div>
                    <div class="col-md-8">
                    <select name="dipungut" class="validate[required] form-control">
                        	<option value="">----- PILIH  -----</option>
                            <option value="yes">Di Pungut</option>
                            <option value="no">Tidak Di Pungut</option>
                    </select>
                    </div>
                </div>
    
            </div>
        </div>        
    </div>
    <div class="col-md-6">
        <div class="block">
            <div class="head">
            </div>
            <div class="content np">
                <div class="controls-row">
                    <div class="col-md-4">Customer:</div>
                    <div class="col-md-8">{customerPershName}</div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">PIC:</div>
                    <div class="col-md-8">{customerName}</div>
                </div>
                
                <div class="controls-row">
                    <div class="col-md-4">PO:</div>
                    <div class="col-md-8">{customer_po}</div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">PO Date:</div>
                    <div class="col-md-8">{customer_po_date}</div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Sub Total:</div>
                    <div class="col-md-8" align="right" id="subTotalAmount">0</div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Tax:</div>
                    <div class="col-md-8" align="right" id="taxAmount">0</div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Other Amount:</div>
                    <div class="col-md-8" align="right"><input type="text" class="form-control" name="otherAmount" value="{other_amount}" onchange="calculateInvoice({jumlah_do});this.value=numeral(this.value).format('0,0.00')"/></div>
                </div>
                <div class="controls-row">
                    <div class="col-md-4">Discount:</div>
                    <div class="col-md-8"><input type="text" class="form-control" name="discount" value="0" onchange="calculateInvoice({jumlah_do});this.value=numeral(this.value).format('0,0.00')"/></div>
                </div>                                        
                <div class="controls-row">
                    <div class="col-md-4">Total Amount:</div>
                    <div class="col-md-8" align="right" id="totalAmount">{other_amount} {amount_idr}</div>
                </div>
            </div>
         </div>
     </div>
</div>

<div class="row">                            
    <div class="col-md-12">
        
        <div class="block">
            <div class="head">
                <h2>List Surat Jalan</h2>
            </div>
            <div class="content np">
                <table cellpadding="0" cellspacing="0" width="100%" class="list">
                    <thead>
                        <tr>
                            <th width="5%"><b>Check</b></th>
                            <th>Delivery Order Number</th>
                            <th align="right">Amount</th>
                            <th width="15%" align="right">Date</th>
                        </tr>
                    </thead>
                    <tbody>
				<!-- BEGIN sales_order_detail_ada -->
                        <tr>
                            <td valign="top"><input type="checkbox" name="id_do_{no}" id="id_do_{no}" value="{do_id}" onchange="calculateInvoice({jumlah_do});" /></td>
                            <td>{do_no_format}</td>
                            <td align="right"><input type="hidden" name="do_amount_{no}" value="{do_amount_no_format}" />{do_amount} {do_amount_idr}</td>
                            <td align="right">{date}</td>
                        </tr>
                <!-- END sales_order_detail_ada -->
                <!-- BEGIN sales_order_detail_tidakada -->    
                        <tr>
                            <td colspan="4">No Order Detail</td>
                        </tr>               
                <!-- END sales_order_detail_tidakada -->                         

                    </tbody>
		    	</table>
			</div>
            <div class="footer">
                <div class="side fr">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit" id="submitHandling">Submit</button>
                    </div>
                </div>
            </div>                                    

     	</div>
  	</div>
</div>
</form>
<!-- BEGIN tidakada -->
	
    Data Tidak Di Temukan 
    <br>
    {MESSAGE}

<!-- END tidakada -->
