<div class="row">
    <div class="col-md-12">
        <div class="block">
            <p>
     <font face="arial,helvetica" size="4">
      <u><b>Oops!</b></u>
     </font>
    </p>
    <p>
     <font face="verdana,arial,helvetica" size="2">
     Terjadi kegagalan dalam aplikasi yang anda akses.
     Pesan dari aplikasi adalah :
     </font>
    </p>
    <hr size="1">
    <font face="verdana,arial,helvetica" size="2">
    <p>
    {error}
    </p>
    <hr size="1">
    <p>Klik <a href="{link}" style="background: yellow"> <b>disini</b> </a> atau tombol <b>BACK</b> di
    browser anda untuk kembali ke halaman sebelumnya.</p>
    
    <p>Terima kasih.</p>
    </font>
    
</div>    
</div>    
</div>    

