<div class="row">
	<div class="col-md-12">
        <form action="index.php?appid={appid}&sub=add" method="post">
        <input type="hidden" name="act" value="add">
        <div class="block">
            <div class="head">
                <h2>Tambah Data {appName}</h2>
            </div>
            

            <div class="content np">                                        
                <div class="controls-row">
                    <div class="col-md-3">Name :</div>
                    <div class="col-md-9">
                        <input type="text" name="name" class="form-control" value=""/>
                    </div>
                </div>                
             </div>

            <div class="content np">                                        
                <div class="controls-row">
                    <div class="col-md-3">Remark :</div>
                    <div class="col-md-9">
                        <input type="text" name="remark" class="form-control" value=""/>
                    </div>
                </div>                
             </div>

            <div class="footer">
                <div class="side fr">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit" id="submitHandling">Submit</button>
                    </div>
                </div>
            </div>                                    

                
        </div>

        </form>
	</div>
</div>